body {
    background: url("images/lighthouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    color: #EBEBEB;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bff-img {
    border: solid 5px #84A98C;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#bday-age {
    background: #84A98C;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 6px;
} 

#bday-date {
    background: #84A98C;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 6px;
}

.gift-section {
    margin-top: 50px;
}

.gift-text {
    margin: 50px 0 10px 0;
}

#gift-hint {
    margin: 10px 0;
}

.gift-cover {
    width: 400px;
    height: 400px;

    background: url("images/gift-cover.png");
    background-size: cover;

    border: solid 5px #EBEBEB;
    border-radius: 12px;

    display: block;
    margin: 0 auto;
}

#gift-happy:hover {
    background: url("https://media.giphy.com/media/yoJC2GnSClbPOkV0eA/giphy.gif");
    background-size: 500px;
}

#gift-hot:hover {
    background: url("https://media.giphy.com/media/U1vpJA5aPOP6w/giphy.gif");
    background-size: 500px;
}

#gift-oneword:hover {
    background: url("https://media.giphy.com/media/CAYVZA5NRb529kKQUc/giphy.gif");
    background-size: 400px 400px;
}

#gift-badass:hover {
    background: url("images/gosling.gif");
    background-size: 900px;
}

#gift-cheers {
    height: 200px;
    margin-bottom: 50px;
}

#gift-cheers:hover {
    background: url("https://media.giphy.com/media/gHEfTmVOt2SJ2fhMDk/giphy.gif");
    background-size: 400px 200px;
}

.gallery {
    width: 70vw; 
    height: 40vw;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 100%;
}

.kartinka {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    max-width:100%;
    max-height:100%;
    border: 2px solid black
}